.formLoginContainer{
    height: 80vh;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formLogin{
    padding: 5rem 2rem;
    border: 2px solid white;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.formLogin h1{
    text-align: center;
}

.formLogin label{
    letter-spacing: 1px;
    gap: .5rem;
    display: flex;
    flex-direction: column;
}